{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! The main content area on the homepage }}
<main class="site-main wow fadeIn" data-wow-duration=".8s" role="main">

  {{! Search results }}
  <section id="results"></section>

  {{! Everything inside the #tag tags pulls data from the tag }}
  {{#tag}}
    {{#if image}}
      <section class="featured-image">
        <img src="{{image}}">
      </section>
    {{/if}}
  {{/tag}}

  <div class="row">
    <div class="column medium-column-40">
      {{! Everything inside the #tag tags pulls data from the tag }}
      {{#tag}}
        <h1 class="tag-title">{{name}}</h1>
        {{#if description}}
          <p>{{description}}</p>
        {{else}}
          A {{pagination.total}}-post collection
        {{/if}}
      {{/tag}}
    </div>

    <div class="column medium-offset-5">
      {{! The tag below includes the post loop - partials/loop-alt.hbs }}
      {{> "loop-alt"}}
    </div>
  </div>

</main>
